<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="BookstoreCatalog_1621448ConnectionString" connectionString="Server=2b7839c8-9c25-4a0a-a525-a7960167e234.sqlserver.sequelizer.com;Database=db2b7839c89c254a0aa525a7960167e234;User ID=dgnjrvrnsiodzqhk;Password=7EJrYdgvVpQvb8MgQ8fzNk6zZebHKULQjtAiNCmeiiJzjtESPAz7GYTVHiyUcFSa;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>